/* common css start5 */
a{

    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.common-button{
    background: #FCD980;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 16px 56px;
    border-radius: 41px;
    transition: .4s;
    display: inline-block;
    color: #1B1C2B;
}
.common-button:hover{
    background: transparent;
    border-color: #fff;
    color: white;

}
/* common css end */


/* ===============
navber part stasrt
=============== */
nav{
    background: #1C1E53;
    padding: 16px 0px !important;
}
.navbar-nav{
    column-gap: 32px;
}

.nav-link{
    font-size: 16px;
    font-weight: 500;
    color: #BBBBCB;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    padding: 0px !important;
}
.nav-link:hover{
    color: white;
}
.nav-button {
    background: transparent;
    color: #fff;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: 1px solid #F4F6FC;
    padding: 16px 48px;
    border-radius: 41px;
    margin-left: 48px;
    transition: .4s;

}
.nav-button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border-color: #FCD980;

}
/* ===============
navber part end
=============== */
/* ===============
Banner part start
=============== */
.banner{
    background: #1C1E53;
    padding: 128px 0px;
}
.banner h1{
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 54px;
    line-height: 74px;
}
.banner p{
    color: rgba(255, 255, 255,0.70);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 562px;
    padding-top: 16px;
    padding-bottom: 48px;
}
.banner .icon-button{
    color: white;
    position: relative;
    margin-left: 40px;
}
.banner .icon-button .icon {
    position: absolute;
    top: 6px;
    left: 90px;
    opacity: 0;
    transition: .4s;
    font-size: 16px;
}
.banner .icon-button:hover .icon{
    left: 100px;
    opacity: 1;


}
/* ===============
Banner part end
=============== */